* {
	margin: 0px;
	padding: 0px;
	font-family: 'Raleway', sans-serif;
	outline: 0;
}
body {
	background-color: #FFF;
}
h2, h3, h4 {
	cursor: default;
}
a, button {
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
}
ul, a {
	text-decoration: none;
	color: inherit;
}
input[type="submit"] {
	font-family: FontAwesome;
}
textarea {
	width: 100%;
	resize-y: none;
}
hr {
	border-color: #EEE;
	margin: 20px 0;
}

/* NAVIGATION MENU */
.navbar {
	z-index: 99;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	color: #FFF;
}
.navmenu {
	color: inherit;
	list-style: none;
}
.navmenu li {
	float: left;
	position: relative;
	display: inline-block;
	padding: 15px 15px;
	border-right: 1px solid white;
	box-sizing: border-box;
}
.navmenu li ul {
	z-index: 99;
	float: left;
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	font-size: 15px;
	text-align: left;
	background-color: #2C3E50;
	border: 1px solid #FFF;
	box-sizing: border-box;
}
.navmenu li ul li {
	border: none;
	margin: 0;
	padding: 5px 10px;
	border-bottom: 1px solid #FFF;
}

/* BUTTONS */
.btn {
	position: relative;
	top: 0px;
	font-size: 1em;
	color: #FFF;
	padding: 8px;
	min-width: 150px;
	border-radius: 5px;
	font-weight: lighter;
	border: 1px solid rgba(0,0,0,.3);
	opacity: 0.85;
}
.btn-hidden {
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: transparent;
	border: none;
	padding: 5px;
}
.btn:hover { opacity: 1; }

/* FORMS */
form {
	padding: 20px 15px 10px 15px;
}
.form-group {
	position: relative;
}
.form-group label {
	font-size: 1.2em;
}
.form-group input,.form-group textarea,.cp-select {
	width: 100%;
	padding: 5px 10px 5px 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	font-size: 1em;
	border: 1px solid #CCC;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-sizing: border-box;
}
.form-group input {
	height: 40px;
}
.form-group textarea {
	resize: vertical;
}
.cp-select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.form-group i {
	position: absolute;
	top: 22%;
	right: 10px;
	color: #DDD;
}
.form-group input:hover,.form-group textarea:hover.cp-select:hover {
	border: 1px solid #DDD;
}
.form-group input:focus,.form-group textarea:focus,.cp-select:focus {
	border: 1px solid #009EFC;
}

/* BACKGROUND COLORS */
.bg-green{ background-color: #4CAF50; }
.bg-red{ background-color: #E51C23; }
.bg-lblue{ background-color: #2196F3; }
.bg-yellow{ background-color: #fcd419; }
.bg-purple{ background-color: #AE1AF7; }
.bg-rose{ background-color: #E4007D; }
.bg-dblue{ background-color: #01008A; }
.bg-orange{ background-color: #FF9800; }
.bg-dgrey{ background-color: #303135; }

.bg-default,.bg-info{ background-color: rgba(33,150,243,.8); }
.bg-success{ background-color: rgba(76,175,80,.8); }
.bg-warning{ background-color: rgba(255,152,0,.8); }
.bg-danger{ background-color: rgba(229,28,35,.8); }

.msg-box {
	width: 80%;
	margin: 12px auto;
	padding: 20px;
	color: #000;
	border: 2px solid rgba(0,0,0,.3);
	border-radius: 5px;
	opacity: 0.85;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.msg-box a {
	font-style: italic;
	font-weight: 700;
}
.msg-box a:hover {
	text-decoration: underline;
}

.modal {
	z-index: 99;
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	max-height: 95vh;
	background-color: #FFF;
	border-radius: 3px;
	-webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.5);
	box-shadow: 0 3px 9px rgba(0,0,0,0.5);
	overflow: hidden;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.modal-header {
	padding: 15px;
	min-height: 16.846px;
}
.modal-body {
	position: relative;
	padding: 15px;
	overflow-y: auto;
}
.modal-footer {
	text-align: right;
	padding: 10px;
}

.progress {
	overflow: hidden;
	width: 100%;
	height: 25px;
	margin: 5px 0;
	text-align: center;
	border-radius: 5px;
	background-color: #FCFCFC;
	border: 1px solid #CCC;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.progress-bar {
	float: left;
	width: 0;
	height: 25px;
	color: #FFF;
	font-size: 14px;
	line-height: 25px;
	text-shadow: 0.6px 0.6px 1px rgba(0,0,0,1), 1px 1px 1px rgba(0,0,0,1), 1.3px 1.3px 1px rgba(0,0,0,1);
}

.badge i {
	float: left;
	display: flex;
	flex-direction: column;
	height: 30px;
	width: 30px;
	margin: 5px;
	border-radius: 5px;
	color: #FFF;
	align-items: center; 
	justify-content: center;
}
/* EXTRAS */
.clearfix{ clear: both; }

/* TRASH ITEMS */
.form-wrapper {
	width: 400px;
	padding: 10px;
	background-color: #EEE;
}